* {
  margin: 0;
  padding: 0;
}

body {
  width: 1440px;
  margin: 0 auto;
}

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
}

.nav {
  height: 600px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
  background-image: url('./img/welcome.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.nav__title__item {
  color: #fff;
  font-size: 30px;
  line-height: 50px;
  letter-spacing: 0.6px;
}

.nav__menu {
  display: flex;
  gap: 30px;
}

.nav-item {
  color: #fff;
  font-size: 20px;
  line-height: 50px;
  text-decoration: none;
}

.nav__icon__item {
  width: 28px;
  height: 28px;
  margin-left: 10px;
  margin-top: 10px;
}
