* {
  margin: 0;
  padding: 0;
}

:root {
  --font-family-headers : 'Forum', cursive;
  --font-family-basic : 'Inter', sans-serif;
}

body {
  max-width: 1440px;
  margin: 0 auto;
  font-family: var(--font-family-basic);
}

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
}

/* #region header-welcome */


/* #endregion */