*,
*:after,
*:before  {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  
}

:root {
  --font-family-headers: 'Forum', cursive;
  --font-family-basic: 'Inter', sans-serif;
}

body {
  max-width: 1440px;
  margin: 0 auto;
  font-family: var(--font-family-basic);
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
}

/* #region header-welcome */

.top__panel {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  padding-right: 90px;
  background: #0c0c0e;
  position: relative;
}

h1 {
  color: #fff;
  font-family: var(--font-family-headers);
  font-size: 30px;
  font-weight: 400;
  line-height: 166.667%;
  letter-spacing: 0.6px;
}

.nav__panel ul {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  list-style: none;
  text-decoration: none;
}

.nav__panel a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  line-height: 250%;
}

.logo {
  width: 28px;
  height: 28px;
  position: absolute;
  top: 31px;
  right: 25px;
}

.welcome {
  background: linear-gradient(
    180deg,
    #0c0c0e 0%,
    #0c0c0e 0.01%,
    rgba(18, 18, 21, 0.1) 100%
  );
  background-image: url('./images/welcome-photo.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.welcome__text {
  color: #fff;
  text-align: center;
  font-family: Forum;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: 3px;
  text-transform: uppercase;
  max-width: 600px;
  margin-top: 220px;
  margin-bottom: 160px;
  padding: 35px 40px;
  background: #0c0c0e;
}

/* #endregion */
/* #region about */

.about {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  margin: 0 auto;
  margin-top: 20px;
}

h2 {
  color: #0C0C0E;
font-family: var(--font-family-headers);
font-size: 40px;
text-align: center;
font-weight: 400;
line-height: 1;
letter-spacing: 2px;
text-transform: capitalize;
}

h2:after {
  content: '';
  display: block;
  width: 50px;
  height: 1px;
  background: #0c0c0e;
  margin: 20px auto;
}

.about__description {
color: #000;
margin: 0 auto;
text-align: center;
font-family: Inter;
font-size: 20px;
font-weight: 400;
line-height: 2;
margin-top: 20px;
}

.about__gallery {  
  display: flex;
  
  flex-wrap: wrap;
  flex-direction: row;
  /* overflow: hidden; */
  padding: 20px 20px 30px 20px;    
  margin: 0 auto;
  gap: 25px;
}

.about__photo {
  max-width: 450px;
}

.about__photo img {
  width: 100%;
}

.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dot {
  cursor: pointer;
  height: 16px;
  width: 16px;
  margin: 5px;
  background-color: #0c0c0e;
  border-radius: 50%;
  border: none;  
  transition: background-color 0.6s ease;
}

.dot.beige {
  background-color: #bb945f;  
}

/* #endregion */

/* #region favorites */

.favorites {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex-shrink: 1;
  width: 100%;
  margin: 20px auto;
  margin-bottom: 60px;
  padding-top: 39px;
}

h3 {
  color: #000;
  font-size: 20px;
  font-weight: 700;
  line-height: normal;
}

.selection {
  margin: 19px 0 42px 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.selection__container {
  margin-top: 38px;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  gap: 90px; 
}

.radio__button__container {
  display: flex;
  align-items: center;
  flex-grow: 0;
}

.radio__item {
  accent-color: #000000;
  width: 17px;
  height: 17px;
  margin: 0;  
}


.season {
  color: #000;
  font-family: Inter;
  font-size: 20px;  
  font-weight: 400;
  line-height: normal;
  padding-left: 22px;  
}

 input[type="radio"]:checked +label { 
  font-weight: 700; 
  transition: .2s;
  font-weight: 700;
}


.books {
  display: flex;
  flex-wrap: wrap;
  max-width: 1440px;
  margin: 0 auto;
  gap: 40px 220px;
  padding: 0 19px; 
  justify-content: center;
}

@media  screen and (max-width: 768px) {
  .books {
    gap: 20px 10px;
  }
  
}

.staff {
  font-family: var(--font-family-headers);
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
  margin-top: 12px;
}

.staff:after {
  content: '';
  display: block;
  width: 60px;
  height: 1px;
  background: #bb945f;
  margin-bottom: 20px;
}

h4 {
  font-size: 15px;
  line-height: 40px;
  letter-spacing: 2px;
}

.book {
  max-width: 590px; 
  max-height: 555px;
  display: flex;   
  box-sizing: border-box;
}

.book__name {
  text-transform: uppercase;
}

.book__container {
  display: flex;
  max-width: 548px;
  flex-direction: column;
  border: 1px solid #000;
  background: #fff;
  flex-shrink: 1;
 
}

.book__content {
  width: 555px;
  height: 555px;
   padding-left: 20px;
  margin-left: -1px;
  flex-shrink: 1; 
}

.book__description {
  display: block;
  /* padding-right: 20px; */
  width: 355px;
  font-size: 15px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
  margin-top: 20px; 
}

.btn {
  color: #0c0c0e;  
  font-family: var(--font-family-basic);
  font-size: 10px;
  font-weight: 700;

  line-height: 1;
  letter-spacing: 1px;
  margin-bottom: 15px;
  border: 1px solid black;
  border-radius: 2px;
  padding: 6px 21px;
  background: #fff;  
  margin-left: 18px;
}

.btn.active:hover {
background: #bb945f;
  color: #0c0c0e;
   border: 1px solid #bb945f;
   border-radius: 2px;
}

.btn.btn__own {
  border: 1px solid #bb945f;
  padding: 6px 19px;
  color: #bb945f;
}


.book__photo {
  position: relative;
  top: 254px;
  right: 160px;
  width: 200px;
  height: 300px;
}

/* #endregion */

/* #region coffe shop */

.coffee__shop {
  width: 100%; 
  padding: 20px 20px 40px 20px;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  margin: 0 auto;
}

.shop__description {
  width: 100%;
  display: flex;
 justify-content: center;
 margin: 0 auto;
}

.shop__description p{
  margin: 19px auto;
  padding: 0 18px;
  color: #000;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  box-sizing: border-box;
  /* text-transform: capitalize; */
  
}

.lowercase {
  text-transform: lowercase;
}


.menu {
  width: 100%;
  margin: 20px auto;
  margin-bottom: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 20px;
  box-sizing: border-box;
}

.menu__list.deserts {
  padding-right: 15px;
}

.menu__title {
  color: #bb945f;
  font-family: Forum;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
}

.menu__title.deserts,
.menu__item.deserts {
  text-align: right;
 
}

.menu__title.deserts {
 padding-right: 5px;
}

.menu__container {
  display: flex;
  margin-top: 40px;
  justify-content: space-between;
  }

.menu__item,
.menu__price {
  color: #000;
  font-size: 20px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
  margin-bottom: 40px;
  
}

.menu__price {
padding-right: 5px;
}

.menu__item:last-child,
.menu__price:last-child {
  margin-bottom: 0;
}

.menu__price {
  font-family: var(--font-family-headers);
}

.menu__price:before {
  position: relative;
  top: 50%;
  width: 100px;
  content: '';
  display: inline-block;
  height: 1px;
  background: #0c0c0e;
  margin: 0 60px;
  vertical-align: middle;
}

/* #endregion */

/* #region contacts */

.contacts {
  width: 100%;
  margin: 20px auto;
}

.contacts__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 40px 20px;
  padding-bottom: 17px;
}

.contact__title {
  color: #000;
  /* text-align: center; */
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  line-height: 40px; /* 200% */
  letter-spacing: 2px;
  text-transform: capitalize;
  margin-bottom: 20px;
}

.contacts__inquiries p,
.contact__staff p {
  color: #000;

  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 200% */
  letter-spacing: 2px;
  text-transform: capitalize;
  padding-top: 20px;
}

.contact__staff {
  margin-top: 40px;
}

.contact__staff p {
  padding-top: 0;
}

.contacts p a {
  text-decoration: none;
  color: #000;
}

.director {
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
}

.map {
  width: 100%;
}
/* #endregion */

/* #region digital-card */

.digital-card {
  max-width: 1440px;
  margin: 0 auto;
}

.digital-card__container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
  padding: 20px 20px;
  justify-content: space-between;
  /* gap: 344px; */
}

.digital-card__left-item {
  width: 600px;
  padding-top: 2px;
}

.left-item__title {
  color: #000;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 0.6px;
  text-align: center;
}

form {
  width: 600px;
  height: 386px;
  margin-top: 30px;
  border: 3px solid #bb945f;
  box-sizing: border-box;
}

.inp__container {
  background: #bb945f;
  margin: 20px;
  padding: 15px 15px 6px 15px;
}

.left__title {
  color: #000;
  font-family: Forum;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 166.667%;
  letter-spacing: 0.6px;
}

.card__input {
  display: block;
  color: #8e8e8e;
  font-family: Forum;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 166.667%;
  letter-spacing: 0.6px;
  margin: 22px auto;
  border-radius: 10px;
  width: 520px;
  height: 66px;
  padding-left: 20px;
  box-sizing: border-box;
  border: none;
}

.check__card__btn {
  display: block;
  margin: 20px auto;
  color: #0c0c0e;    
  font-size: 20px;  
  font-weight: 700;  
  letter-spacing: 1px;
  padding: 9px 41px;
  border-radius: 2px;
  border: 1px solid #0c0c0e;
  background: #fff;
  
}

.check__card__btn:hover {
  background: #bb945f;
  color: #0c0c0e;
   border: 1px solid #bb945f;
   border-radius: 2px;
   transition: 0.2s;
}

.digital-card__right-block {
  width: 456px;
  text-align: right;
  padding-top: 2px;
}

.right__title {
  color: #000;
 margin-top: -3px;
  font-family: var(--font-family-headers);
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.6px;
  padding-bottom: 28px;
}

.digital-card__right-block p {
  color: #000;
  text-align: right;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 2;
  letter-spacing: 0.4px;
  margin-bottom: 25px;
  padding-top: 2px;
}

.right__card__button {
  border-radius: 2px;
  border: 1px solid #0c0c0e;
  color: #0c0c0e;
  text-align: center;
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  
  letter-spacing: 1px;
  padding: 4px 0;
  width: 76px;
  background: #fff;  
  margin-top: 10px;
}

.right__card__button:last-child {
  margin-left: 17px;
}
.right__card__button:hover {
  background: #bb945f;
  color: #0c0c0e;
   border: 1px solid #bb945f;
   border-radius: 2px;
   transition: 0.2s;
}

/* #endregion */

/* #region footer */
.footer__container {
  max-width: 1440px;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  box-sizing: border-box;
  padding: 20px;
  background: #0C0C0E;
  color: #fff;
  margin-top: 21px;
}

.footer__top {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: column;
  gap: 10px;
  font-size: 15px;
  font-weight: 400;
  line-height: 133.333%;
  border-bottom: 1px solid #fff;
  box-sizing: border-box;
}

.footer__top__icons ul {
  margin-top: 10px;
  display: flex;
  gap: 15px;
  padding-bottom: 30px;
  list-style: none;
}

.footer__top__top {
  display: flex;
  justify-content: space-between;
}
.footer__top__bottom {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.schedule {
  text-align: end;
  padding-top: 1px;
}

.footer__bottom {
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 2;
  letter-spacing: 2px;
  margin: 35px 0 15px 0;
}

.school__name {
  margin-left: 145px;
}

.footer__bottom a,
.footer__top a {
  text-decoration: none;
  color: #fff;
}

/* #endregion */